#about-us {
  display: flex;
  flex-direction: column;
  gap: 5em;
  text-align: center;

  p {
    font-size: 2rem;
    padding: 0 4rem;
  }

  svg {
    height: 25vh;
    max-width: 768px;
    padding-bottom: 1rem;
  }

  h2 {
    padding-bottom: 1rem;
  }
}
