@import '../abstracts/mixins';

#intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  img {
    width: 100%;
    border-radius: 1.25rem;
  }

  h1 {
    color: #d9d9d9;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15rem;

    > span {
      font-weight: 300;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      color: #fff;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      > .green {
        color: #50d634;
      }

      > .pink {
        color: #f4539f;
      }
    }

    a {
      text-align: center;
    }
  }
}

@include geq(400px) {
  #intro > .content {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@include geq(620px) {
  #intro {
    grid-template-columns: 1fr 2fr;
    gap: 2rem 3rem;

    img {
      grid-area: 1 / 1 / 3 / 2;
    }

    h1 {
      grid-area: 1 / 2 / 2 / 3;
      font-size: 2.5rem;
    }

    .content {
      grid-area: 2 / 2 / 3 / 3;

      a {
        text-align: left;
      }
    }
  }
}

@include geq(700px) {
  #intro {
    h1 {
      font-size: 3rem;
    }

    .content > p {
      font-size: 1.5rem;
    }
  }
}

@include geq(800px) {
  #intro {
    h1 {
      font-size: 3.5rem;
    }

    .content > p {
      font-size: 1.75rem;
    }
  }
}

@include geq(1000px) {
  #intro {
    h1 {
      font-size: 3.5rem;
    }

    .content > p {
      font-size: 2rem;
    }
  }
}

@include geq(1100px) {
  #intro {
    h1 {
      font-size: 5rem;
    }

    .content > p {
      font-size: 2.25rem;
    }
  }
}

@include geq(1300px) {
  #intro > .content > p {
    font-size: 2.5rem;
  }
}

@include geq(1400px) {
  #intro > .content > p {
    font-size: 2.5rem;
  }
}

@include geq(1500px) {
  #intro > .content > p {
    font-size: 2.7rem;
  }
}
