/* CSS for desktop view */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200px;
}

.text {
  flex: 1;
  font-weight: bold;
  font-size: 5xl;
  color: white;
}

.text h3 {
  font-size: xl;
  color: white;
  margin-top: 6px;
}

.text span.green {
  color: #50d634;
}

.text span.pink {
  color: #f4539f;
}

.image {
  flex: 1;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

/* CSS for mobile view */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements vertically */
    text-align: center; /* Center align text */
    margin: 50px;
  }

  .text {
    order: 2; /* Change the order of text to appear below */
    margin-top: 20px;
  }

  .image {
    order: 1; /* Change the order of image to appear above */
  }
}
