@import '../abstracts/mixins';

.sponsor {
  border-radius: 1.25rem;
  background: #13161b;
  box-shadow: 0px 0px 100px 7px rgba(0, 0, 0, 0.5);
  padding: 1.25em;
  display: flex;
  flex-direction: column;

  .logo {
    padding: 1em 0;
  }

  .message {
    font-size: 1.0625rem;
    letter-spacing: 0.045rem;
    padding-bottom: 0.5em;
  }

  .author {
    text-align: end;
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.125em;
  }

  .position {
    text-align: end;
    font-size: 0.625rem;
    font-weight: 500;
    letter-spacing: 0.045rem;
    padding-bottom: 0.125em;
  }

  &#UTSC_CMS {
    max-width: 80vw;
    max-height: 50vh;
    gap: 1em;
  }
}

@include geq(450px) {
  .sponsor {
    &#UTSC_CMS {
      max-width: 75vw;

      .message {
        font-size: 1.25rem;
      }

      .author {
        font-size: 1rem;
      }

      .position {
        font-size: 0.65rem;
      }
    }
  }
}

@include geq(500px) {
  .sponsor {
    &#UTSC_CMS {
      max-width: 60vw;
    }
  }
}

@include geq(550px) {
  .sponsor {
    &#UTSC_CMS {
      max-width: 55vw;
    }
  }
}

@include geq(600px) {
  .sponsor {
    &#UTSC_CMS {
      max-width: 60vw;
      max-height: 90vh;

      .message {
        font-size: 1.5rem;
        padding: 1em 0;
      }

      .author {
        font-size: 1rem;
      }

      .position {
        font-size: 0.75rem;
      }
    }
  }
}

@include geq(900px) {
  .sponsor {
    &#UTSC_CMS {
      max-width: 50vw;
    }
  }
}

@include geq(1000px) {
  .sponsor {
    &#UTSC_CMS {
      max-width: 40vw;
    }
  }
}
