#sponsor {
  display: flex;
  flex-direction: column;
  gap: 5em;
  text-align: center;
  h1 {
    color: #d9d9d9;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
  }
  h3 {
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 400;
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: left;
    padding-left: 30px;
  }
  .card-container {
    margin-top: 50px;
    display: flex;
    gap: 30px;
  }

  .card {
    flex: 1;
    padding: 20px;
    background-color: #13161b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
  }

  .the_score {
    position: absolute;
    top: 1;
    left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }

  #score {
    margin-top: 10px;
    margin-left: 50px;
  }

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
