{
  "singleQuote": true,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "astroAllowShorthand": false,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
