@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'abstracts/variables';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #151019;
}

body {
  position: relative;
  font-family: 'Josefin Sans Variable', sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
}

p {
  color: #fff;
}

section {
  padding: 15vh 5vw;
}
