---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/pages/404.scss';
---

<BaseLayout
  includeHeader={false}
  title="404">
  <div class="error-container">
    <h1 class="title">404</h1>
    <p class="description">
      Ooops!!! The page you are looking for is not found
    </p>
    <a href="/">
      <button class="redirect-btn">HOME</button>
    </a>
  </div>
</BaseLayout>
