---
import AboutUs from '../components/AboutUs.astro';
import TeamGroup from '../components/TeamGroup.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/pages/Home.scss';
---

<BaseLayout>
  <AboutUs />
  <section id="team">
    <h2>Our Team</h2>
    <TeamGroup includeGroupHeading={false} />
  </section>
</BaseLayout>
