---
import vision from '/vision.png';
import mission from '/mission.png';

import '../styles/components/AboutUs.scss';
---

<section id="about-us">
  <div class="vision">
    <img
      src={vision}
      alt="Eye with a lightbulb representing vision"
    />
    <h2>VISION</h2>
    <p>
      To be the most student-centric community to create an environment where
      students feel encouraged to engage with data science and statistics
    </p>
  </div>
  <div class="mission">
    <img
      src={mission}
      alt="Arrow landing on a target representing mission"
    />
    <h2>MISSION</h2>
    <p>
      To make a contribution to our student community by creating opportunities
      for engagement in Data Science and Statistics.
    </p>
  </div>
</section>
