---
import '../styles/components/Button.scss';

interface Props {
  title: string;
  href: string;
  newTab?: boolean;
}

const { title, href, newTab = false } = Astro.props;
---

<a
  role="button"
  href={href}
  target={newTab ? '_blank' : ''}
  rel={newTab ? 'noopener noreferrer' : ''}>
  <button>
    {title}
  </button>
</a>
