---
import Button from './Button.astro';
import intro from '/Intro.jpg';
import '../styles/components/Intro.scss';
---

<div class="container">
  <div class="image">
    <img
      src={intro}
      alt="Team Photo"
    />
  </div>
  <div class="text">
    <h1>Data Science &amp; <br />Statistics Society</h1>
    <br />
    <h3>
      We are a group of like-minded individuals at the <span class="green"
        >University of Toronto</span
      >
       driving impact in the fields of <span class="pink"
        >data science, statistics, and machine learning</span
      >
    </h3>
    <br />
    <Button />
  </div>
</div>
