---
import '../styles/components/Sponsor.scss';
import Button from './Button.astro';
import the_score from '/the_score.jpg';
import geocomply from '/GeoComply.jpg';
import uoft_datascience from '/uoft_datascience.jpg';
---

<section id="sponsors">
  <div class="mission">
    <h2>Support Our Mission!</h2>
    <p id="mission_description">
      Support our mission and make your organization visible to numerous capable
      University of Toronto students. From merchandise to customized events, we
      supports our industry partners by curating sponsorship packages that fit
      your needs.
    </p>
    <br />
    <Button
      title="contact-us"
      href="/">
      Contact US
    </Button>
    <div class="card-container">
      <div class="card">
        <img
          src={the_score}
          alt="The Score company logo"
        />
        <br />
        <br />

        <p>lorem ipsum</p>
      </div>
      <div class="card">
        <img
          src={geocomply}
          alt="GeoComply company logo"
        />
        <br />
        <br />
        <br />

        <p>lorem ipsum</p>
      </div>
      <div class="card">
        <img
          src={uoft_datascience}
          alt="UofT & Data Science Institute logo"
        />
        <br />
        <br />
        <br />
        <br />
        <p>lorem ipsum</p>
      </div>
    </div>
  </div>
</section>
