---
import '../styles/components/Sponsor.scss';
import Button from './Button.astro';
import the_score from '../assets/thescore.jpg';
import geocomply from '../assets/GeoComply.jpg';
import uoft_datascience from '../assets/uoft_datascience.png';
---

<section id="sponsors">
  <div class="mission">
    <h2>Support Our Mission!</h2>
    <p id="mission_description">
      Support our mission and make your organization visible to numerous capable
      University of Toronto students. From merchandise to customized events, we
      supports our industry partners by curating sponsorship packages that fit
      your needs.
    </p>
    <br />
    <Button
      title="Contact Us"
      href="/"
    />
    <div class="card-container">
      <div class="card">
        <img
          src={the_score}
          alt="The Score company logo"
          class="thescore"
        />
        <br />
        <br />
        <br />
        <br />

        <p>
          Omg. Working with DS3 was fantastic and amazing. I cannot wait to do
          it again because the team was too funny and amazing. If we had the
          budget, we would've given them 10,000 CAD.
        </p>
        <br />
        <br />
        <p id="person">- Person</p>
      </div>
      <div class="card">
        <img
          src={geocomply}
          alt="GeoComply company logo"
        />
        <br />
        <br />

        <p>
          omg. Working with DS3 was fantastic and amazing. I cannot wait to do
          it again because the team was too funny and amazing. If we had the
          budget, we would've given them 10,000 CAD.
        </p>
        <br />
        <br />
        <p id="person">- Person</p>
      </div>
      <div class="card">
        <img
          src={uoft_datascience}
          alt="UofT & Data Science Institute logo"
          class="datascience"
        />
        <br />
        <br />
        <br />
        <br />
        <p>
          omg. Working with DS3 was fantastic and amazing. I cannot wait to do
          it again because the team was too responsible
        </p>
        <br />
        <br />
        <p id="person">- Person</p>
      </div>
    </div>
  </div>
</section>
