---
import '../styles/components/TeamGroup.scss';

import TeamMember from './TeamMember.astro';

import team from '../config/team.json';

interface Props {
  includeGroupHeading: boolean;
}

const { includeGroupHeading } = Astro.props;
---

{
  Object.entries(team).map(([group, members]) => {
    return (
      <div class="team-group">
        {includeGroupHeading && <h2>{group}</h2>}
        <div class="container">
          {members.map(({ name, position, img }) => {
            return (
              <TeamMember
                name={name}
                position={position}
                img={img}
              />
            );
          })}
        </div>
      </div>
    );
  })
}
