---
import '../styles/layout/Footer.scss';
---

<footer>
  <p>
    Made by DS<sup>3</sup> Web Development Team
  </p>
  <p class="copyright">
    Copyright &copy; DS<sup>3</sup>
    {' ' + new Date().getFullYear()}. All Rights Reserved
  </p>
</footer>
